@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>MCC APPLICATION</h1>
        <p><a href="../Items" class="btn btn-primary btn-lg">Item &raquo;</a></p>
        <p><a href="../Suppliers" class="btn btn-primary btn-lg">Supplier &raquo;</a></p>
        <p><a href="../Transactionitems" class="btn btn-primary btn-lg">Transaction Item &raquo;</a></p>

    </div>
